<div id="TA_socialButtonBubbles{contentUid}" class="TA_socialButtonBubbles">
	<ul>
		<li>
			<f:link.external uri="{settings.tripAdvisorLinkUrl}" target="_blank">
				<img src="https://www.tripadvisor.de/img/cdsi/img2/branding/socialWidget/20x28_green-21693-2.png"/>
			</f:link.external>
		</li>
	</ul>
</div>
<script src="https://www.jscache.com/wejs?wtype=socialButtonBubbles&amp;uniq={contentUid}&amp;locationId={settings.tripAdvisorLocationId}&amp;color={settings.tripAdvisorIconColor}&amp;size={settings.tripAdvisorIconSize}&amp;lang={language}&amp;display_version=2"></script>