<div id="TA_selfserveprop{contentUid}" class="TA_selfserveprop">
	<ul class="TA_links">
		<li>
			<f:link.external uri="{settings.tripAdvisorLinkUrl}" target="_blank">
				<img src="https://www.tripadvisor.ch/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/>
			</f:link.external>
		</li>
	</ul>
</div>
<script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq={contentUid}&amp;locationId={settings.tripAdvisorLocationId}&amp;lang={language}&amp;rating={settings.tripAdvisorTravellerRating}&amp;nreviews={settings.tripAdvisorNumberOfReviews}&amp;writereviewlink={settings.tripAdvisorRatingLink}&amp;popIdx={settings.tripAdvisorRanking}&amp;iswide={settings.tripAdvisorWide}&amp;border={settings.tripAdvisorBorder}&amp;display_version=2"></script>